section.section.section-conditions
	.wrapper.wrapper-conditions(data-aos="fade-up" data-aos-delay="300")
		.conditions-icons
		h2.section-conditions__title.h2-title !{aboutConditionsText.title[lang]}
		p.section-conditions__text !{aboutConditionsText.text[lang]}
		a(href=linkSignup).btn !{buttonText.btnOpenAcc[lang]}
