.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    &.sticky {
        position: fixed;
        background: $color-title;
        box-shadow: 0px rem(4px) rem(8px) rgba(19, 21, 66, 0.08);
        width: calc(100% + 2px);
        .nav-wrapper {
            padding: rem(16px);
        }
        .nav-list__link {
            color: $color-white;
        }
        .arrow-menu {
            path {
                fill: $color-white;
            }
        }
        .nav-list__link-lang {
            &:hover {
                &::before {
                    color: $color-button-hover;
                }
            }
            &::before {
                color: $color-white;
            }
        }
    }
}
.nav-wrapper {
    padding: rem(27px) rem(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: rem(1160px);
    &.show-menu {
        align-items: flex-start;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        background: $color-title;
        background-size: cover;
        .slicknav_menu {
            margin-top: rem(8px);
        }
    }
}
.nav.sticky .nav-wrapper.show-menu .slicknav_menu {
    margin-top: rem(8px);
}
.nav-logo {
    margin-right: rem(32px);
    flex-shrink: 0;
}
.nav-list__link {
    color: $color-title;
    font-weight: 400;
    display: flex;
    align-items: center;
    &:hover {
        color: $color-button-hover;
    }
}
.arrow-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: rem(1px);
    transition: .3s ease-out;
    width: rem(24px);
    height: rem(24px);
    svg {
        width: rem(8px);
        height: rem(6px);
    }
    path {
        transition: .3s ease-out;
    }
}
.nav-list {
    display: flex;
    flex-grow: 1;
    &:not(.list-lang) {
        padding-right: rem(60px);
    }
}
.sub-nav-list__item {
    display: flex;
    &.active {
        .sub-nav-list__link::after {
            content: '';
            display: block;
            position: absolute;
            width: rem(12px);
            height: rem(10px);
            top: 50%;
            transform: translateY(-50%);
            right: rem(16px);
            background: url("../images/active-menu.svg") no-repeat;
            background-size: 100%;
        }
    }
}
.icon-arrow-menu {
    position: relative;
    padding-right: rem(24px);
    &:hover {
        path {
            fill: $color-button;
        }
    }
}
.nav-list__item {
    position: relative;
    transition: .3s ease;
    margin-right: rem(32px);
    &.active {
        .nav-list__link:not(:hover) {
            color: $color-button;
            path {
                fill: $color-button;
            }
        }
    }
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        .arrow-menu {
            transform: translateY(-50%) rotate(-180deg);
            path {
                fill: $color-button;
            }
        }
        .nav-list__link {
            color: $color-button;
        }
        .sub-nav-list {
            opacity: 1;
            visibility: initial;
            pointer-events: initial;
        }

    }
}
.sub-nav-list {
    padding-top: rem(4px);
    padding-bottom: rem(4px);
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: rem(-10px);
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s ease;
    background: $color-white;
    box-shadow: 0px rem(4px) rem(8px) rgba(19, 21, 66, 0.08);
    border-radius: rem(4px);
    min-width: rem(178px);
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: rem(13px);
        top: 0;
        left: 0;
        transform: translateY(-100%);
        background: transparent;
    }
}
.sub-nav-list__link {
    position: relative;
    font-size: rem(15px);
    line-height: rem(18px);
    font-weight: 400;
    color: $color-text;
    width: 100%;
    padding: rem(6px) rem(14px) rem(7px);
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s ease-out;
        background: linear-gradient(0deg, #1FE39D, #1FE39D), linear-gradient(0deg, #48DEB1, #48DEB1), linear-gradient(0deg, #0085FF, #0085FF), #1F80F2;
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 0.16;
        }
    }
}
.nav-btns {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.btn-nav {
    height: rem(46px);
    padding-top: rem(12px);
    padding-bottom: rem(14px);
    border-radius: rem(25px);
}
.btn-login {
    margin-right: rem(16px);
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 500;
    color: $color-button;
    height: rem(36px);
    min-width: rem(69px);
    border-color: $color-button;
    &:hover, &:active {
        color: $color-white;
    }
}
.btn-register {
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 500;
    height: rem(36px);
    min-width: rem(129px);
}
.slicknav_menu {
    display: none;
}
.slicknav_nav {
    transition: .3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 7.6875rem);
    overflow: auto;
    margin-top: rem(123px);
    visibility: visible;
    opacity: 1;
    &.slicknav_hidden {
        opacity: 0;
        visibility: hidden;
    }
}
.slicknav_icon {
    width: rem(32px);
    height: rem(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slicknav_icon-bar {
    width: 100%;
    height: rem(3px);
    border-radius: rem(3px);
    background: $color-white;
    transition: .3s ease-out;
    &:nth-child(2) {
        width: 60%;
        margin-left: auto;
    }
}
.slicknav_btn {
    &.slicknav_open {
        .slicknav_icon-bar {
            &:nth-child(1) {
                margin-top: auto;
                transform: translateY(rem(3px)) rotate(-45deg);
            }
            &:nth-child(3) {
                margin-bottom: auto;
                transform: translateY(rem(-3px)) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
        }
    }
}
.slicknav_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16px) rem(20px);
    border-bottom: 1px solid #ECECEC;
}
.slicknav_arrow {
    font-size: 0;
    width: rem(12px);
    height: rem(12px);
    background: url("../images/arrow-menu-white.svg") center no-repeat;
    background-size: 100%;
    transition: .3s ease-out;
}
.nav-list__item_only-mobile {
    display: none;
    justify-content: center;
    margin-top: rem(30px);
    padding-bottom: rem(52px);
}
.line-nav {
    width: rem(2px);
    height: rem(24px);
    background: $color-white;
    opacity: 0.24;
    margin-right: rem(24px);
}
.nav-list__link-lang {
    position: relative;
    &::before {
        content: '';
        font-weight: 400;
        color: $color-title;
        transition: .3s ease-out;
    }
    .arrow-menu {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        &::before {
            color: $color-button-hover;
        }
    }
}
.nav-list__link-lang_ru::before {
    content: "Русский";
}
.nav-list__link-lang_en::before {
    content: "English";
}
.nav-list__link-lang_es::before {
    content: "Español";
}
.nav-list__link-lang_de::before {
    content: "Deutsche";
}
.nav-list__link-lang_fr::before {
    content: "Français";
}
.nav-list__link-lang_it::before {
    content: "Italiano";
}
.nav-list__link-lang_zh::before {
    content: "中国人";
}
.white-header {
    .nav-list__link {
        color: $color-title;
    }
    .white-logo {
        display: block;
    }
    .dark-logo {
        display: none;
    }
    .arrow-menu {
        path {
            fill: $color-title;
        }
    }
    .btn-login {
        &:hover {
            color: $color-title;
        }
    }
    .nav.sticky {
        .white-logo {
            display: none;
        }
        .dark-logo {
            display: block;
        }
        .nav-list__link {
            color: $color-white;
        }
        .arrow-menu {
            path {
                fill: $color-white;
            }
        }
        .btn-login {
            &:hover {
                color: $color-white;
            }
        }
        .nav-list__item {
            &.active {
                .nav-list__link {
                    color: $color-button;
                }
            }
            &:hover {
                .nav-list__link {
                    color: $color-button-hover;
                }
                .arrow-menu {
                    path {
                        fill: $color-button-hover;
                    }
                }
            }
        }

    }
    .slicknav_icon-bar {
        background: $color-title;
    }
    .nav-wrapper.show-menu {
        .white-logo {
            display: none;
        }
        .dark-logo {
            display: block;
        }
        .slicknav_icon-bar {
            background: $color-white;
        }
        .nav-list__link {
            color: $color-white;
        }
        .nav-list__item {
            &.active {
                .nav-list__link {
                    color: $color-button;
                }
            }
            &:hover {
                .nav-list__link {
                    color: $color-button-hover;
                }
            }
        }
    }
    .nav.sticky {
        .slicknav_icon-bar {
            background: $color-white;
        }
    }
}
.nav-list__item_lang {
    margin-right: 0;
    margin-left: auto;
}

@media (min-width: 1025px) {
    .nav_fr,
    .nav_it,
    .nav_de {
        .nav-list__link,
        .sub-nav-list__link {
            font-size: rem(14px);
        }
    }
    .nav_es {
        .nav-list__link,
        .sub-nav-list__link {
            font-size: rem(13px);
        }
    }
}
@media (max-width: 1300px) {
    .nav-list__link,
    .btn-login {
        font-size: rem(16px);
        line-height: rem(20px);
    }
    .nav-logo {
        margin-right: rem(40px);
    }
    .nav-list__item {
        margin-right: rem(24px);
    }
    .btn-register {
        min-width: auto;
    }
}
@media (max-width: 1024px) {
    .nav-list {
        display: none;
    }
    .nav-btns {
        display: none;
    }
    .slicknav_menu {
        display: block;
        order: 2;
    }
    .nav-wrapper {
        padding-left: rem(20px);
        padding-right: rem(20px);
        padding-top: rem(16px);
        padding-bottom: rem(16px);
    }
    .sub-nav-list {
        opacity: 1;
        visibility: visible;
        position: static;
        transform: none;
        border-radius: 0;
        background: rgba(44, 72, 136, 0.04);
        box-shadow: none;
        padding: rem(8px) 0;
        &.slicknav_hidden {
            display: none;
        }
    }
    .sub-nav-list__link {
        color: $color-white;
        padding: rem(8px) rem(40px) rem(8px) rem(30px);
        font-size: rem(16px);
        &:hover {
            color: $color-button;
            &::before {
                display: none;
            }
        }
    }
    .sub-nav-list__item {
        font-size: rem(16px);
        line-height: rem(18px);
        border-bottom: none;
    }
    .arrow-menu {
        display: none;
    }
    .icon-arrow-menu {
        padding-right: 0;
    }
    .nav-list__link {
        color: $color-white;
        font-size: rem(18px);
        line-height: 150%;
        font-weight: 600;
        &:not(.icon-arrow-menu) {
            padding: rem(16px) rem(20px);
            border-bottom: 1px solid #ECECEC;
        }
    }
    .nav-list__item {
        &:hover {
            .nav-list__link {
                color: $color-button;
            }
        }
    }
    .nav-list__item {
        margin-right: 0;
        &.slicknav_open {
            .slicknav_arrow {
                transform: rotate(180deg);
            }
        }
        &.active {
            .nav-list__link {
            }
        }
    }
    .nav-list__link-lang {
        justify-content: flex-start;
        padding: 0;
        height: auto;
    }
    .sub-nav-list__link-lang::after {
        right: rem(20px);
    }
    .nav-list__item_only-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .btn-nav_mobile {
        &:first-child {
            margin-bottom: rem(16px);
        }
    }
    .main-header {
        &::after {
            display: none;
        }
        &::before {
            width: rem(480px);
            height: rem(320px);
            background: url("../images/main-header-mobile-decor.png") bottom right no-repeat;
            background-size: contain;
            top: auto;
            right: 0;
            bottom: rem(70px);
        }
    }
    .sub-nav-list_lang {
        min-width: auto;
        display: block;
    }
    .nav-logo {
        margin-right: 0;
    }
    .sub-nav-list__link-lang::before {
        display: none;
    }
    .nav-list__link-lang::before {
        color: $color-white;
        font-size: rem(18px);
        line-height: 150%;
        font-weight: 600;
    }
    .sub-nav-list__item.active .sub-nav-list__link::after {
        right: rem(20px);
    }
    .nav.sticky .nav-wrapper {
        padding: rem(16px) rem(20px);
    }
}
@media (max-width: 480px) {
    .nav-logo img {
        max-width: rem(78px);
        height: auto;
    }
}
