mixin marketAssets(title, text, img)
	section.section.section-assets
		.wrapper.wrapper_assets(data-aos="fade-up" data-aos-delay="300")
			.assets-wrapper
				h2.section-assets__title.h3-title !{title}
				p.section-assets__text !{text}

