section.section.section-news
	.wrapper.wrapper-news(data-aos="fade-up")
		.gif-decor.gif-decor_big.gif-decor_news
			img.gif-decor-img(src=baseDir + "assets/images/gif-decor-big.gif" alt="gif decor")
		h2.h2-title.h2-title_news !{indexNewsText.h2[lang]}
		.news-slider-wrapper
			.news-slider(class= "news-slider_" + lang)
				.news-slider__items.data--js-news(class="news-slider__items-" + lang)
			.slider-news-pagination.dots-wrapper

