// FONTS
$font-main: 'Roboto', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-title: #1e2978;
$color-text: #131542;
$color-error-red: #FF2E4D;
$color-green: #1FE39D;
$color-button: #1FE39D;
$color-button-hover: #55EDB7;